<html>
   <body>
      <form action = "run_observation" method = "POST" 
         enctype = "multipart/form-data">
		 <table>
		 <caption>Select an endophyte to test classification!</caption>
		 <tr><td>Endophyte<td><select name="endo">
			<option value="Endo1">Endo1</option>
			<option value="Endo2">Endo2</option>
			<option value="Endo3">Endo3</option>
			<option value="Endo4">Endo4</option>
			<option value="Endo5">Endo5</option>
			<option value="Endo6">Endo6</option>
			<option value="Endo7">Endo7</option>
			<option value="Endo8">Endo8</option>
			<option value="Endo9">Endo9</option>
			<option value="Endo10">Endo10</option>
		</select></tr>
		</table>
		 <input name="test" value="Run Classifiers" type = "submit"/>
      </form>   
   </body>
</html>
